{
    "local_address": "127.0.0.1",
    "local_port": "{{ proxy_client_port }}",
    "timeout": 600,
    "server": "{{ proxy_server_host }}",
    "server_port": "{{ proxy_server_port }}",
    "password": "{{ proxy_pass }}",
    "mode": "tcp_and_udp",
    "method": "aes-256-cfb"
}
