[Unit]
Description=shadowsocks proxy server

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/sslocal -c {{ proxy_client_config }} --log-file /var/log/{{ daemon_service_name }}.log --pid-file /var/run/{{ daemon_service_name }}.pid start
ExecStop=/usr/local/bin/sslocal -c {{ proxy_client_config }} --log-file /var/log/{{ daemon_service_name }}.log --pid-file /var/run/{{ daemon_service_name }}.pid stop

[Install]
WantedBy=multi-user.target
